<kendo-grid class="k-prjdata events-grid forms-grid extra-grid-space"
                  [data]="data"
                  [pageSize]="state.take"
                  [skip]="state.skip"
                  [sort]="state.sort"
                  [filter]="state.filter"
                  [sortable]="true"
                  [pageable]="true"
                  [filterable]="true"
                  (dataStateChange)="dataStateChange($event)">

  <ng-template kendoGridToolbarTemplate>
    <div class="row">
      <div class="col-12 table-button ">
        <div class="add-btn-table">
          <div class="grid-btn-bg">
            <button type="button" class="btn add-grid-button k-button k-grid-add-command" [disabled]="phaseList.length === 0" (click)="selectEvent.emit()" kendoGridAddCommand>
              <img src="../../../../../assets/grid_toolbar_icons/Add_Toolbar_Icon.svg" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <kendo-grid-column field="phaseTxt" title="Phase" width="300px">
  </kendo-grid-column>
  <kendo-grid-column field="primaryTypeTxt" title="Event Type" width="100px">
  </kendo-grid-column>
  <kendo-grid-column field="secondayTypeTxt" title="Secondary Type" width="300px">
  </kendo-grid-column>
  <kendo-grid-column field="contactRoleName" title="Personnel" width="300px">
  </kendo-grid-column>
  <kendo-grid-column field="beginDate" title="Begin Date" width="150px" filter="date" format="{0:d}">
    <ng-template kendoGridCellTemplate let-dataItem>
      {{dataItem.beginDate | date: 'MM/dd/yyyy'}}
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-column field="endDate" title="Due Date" width="150px" filter="date" format="{0:d}">
    <ng-template kendoGridCellTemplate let-dataItem>
      {{dataItem.endDate | date: 'MM/dd/yyyy'}}
    </ng-template>
  </kendo-grid-column>
  <!--<kendo-grid-column field="statusTxt" title="Status">
  </kendo-grid-column>-->

  <kendo-grid-column field="statusTxt" title="Status" width="80px">
  </kendo-grid-column>

  <kendo-grid-column field="docCnt" title="Doc(s)" width="80px">
    <ng-template kendoGridCellTemplate let-dataItem>
      {{formatDocCnt(dataItem.docCnt)}}
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-command-column title="Edit Files" width="65px" [columnMenu]="false">
    <ng-template kendoGridCellTemplate let-dataItem>
      <!--<button [disabled]="dataItem.activeInd == 'C'" type="button" class="btn btn-edit" kendoGridEditCommand (click)="selectEvent.emit(dataItem)">-->
      <button [disabled]="dataItem.activeInd == 'C'" type="button" class="btn btn-edit" (click)="selectEventUpload.emit(dataItem)">
        <span class="fas fa-pencil-alt"></span>
      </button>
    </ng-template>
  </kendo-grid-command-column>

  <kendo-grid-command-column title="Edit Event" width="70px" [columnMenu]="false">
    <ng-template kendoGridCellTemplate let-dataItem>
      <button [disabled]="dataItem.activeInd == 'C'" type="button" class="btn btn-edit" kendoGridEditCommand (click)="selectEvent.emit(dataItem)">
        <span class="fas fa-pencil-alt"></span>
      </button>
    </ng-template>
  </kendo-grid-command-column>
</kendo-grid>
