<div class="row">

  <div class="col-6">
    <label for="current-summary">Public Comments</label>
  </div>
  <div class="col-6">
    <label class="float-right blue-text">0 OF 500 Characters</label>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <textarea kendoTextArea rows="4" cols="50" maxlength="500"></textarea>
  </div>
</div>

<div class="row">

  <div class="col-6">
    <label for="current-summary">Private Comments</label>
  </div>
  <div class="col-6">
    <label class="float-right blue-text">0 OF 500 Characters</label>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <textarea kendoTextArea rows="4" cols="50" maxlength="500" style="background-color:#ffe6e6"></textarea>
  </div>
</div>

